.tarolo{
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 0px;
    color:black;
    border-top: 1px solid white;
    background-color: black;


}
.fejlec{
    background-image: url("hero.jpg");
    height: 100vh;
    background-size: cover;
    padding: 5px;
    color: black;
    margin: auto;
}
.tarolo{
    margin:auto;
    max-width: 90%;
}

.menu ul{
    list-style-type: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-right: 10px;
    padding-left: 10px;

}


.menu a{
    text-decoration: none;
    color: white;
   
}

.menu li {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border-radius: 30px;
    
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
}

ul{
    padding-left: 80px;
    
}
.gomb{
    width: 200px;
    margin: auto;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 15px;
    border: 20px;
    border-radius: 30px;
    text-align: center;
}

.menu li:hover {
    background-color:bisque;;
}
.menu a:hover{
    background-color: bisque;
}

.masodik{
    background-color: black;
    border-left: 1px solid white;
    padding: 10px;
}

.menu2 ul{
    list-style-type: none;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border: 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.menu2 a{
    text-decoration: none;
    color: white;  
}

.menu2 li {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
}
.menu2 li:hover {
    background-color:bisque;
}
.menu2 a:hover{
    background-color: bisque;
}


.harmadik{
    background-color: black;
    border-left: 1px solid white;
    padding: 10px;
}
.kepek{
    
    padding: 10px;
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: auto;
    gap: 15px;
    border: 30px;
    padding-right: 50%;
    padding-left: 50px;
    
}

.kepek div{
  
    border-radius: 5%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
}
.kepek  div h1{
    margin: 100px;
}

.norveg{
    background-image: url(norveg\ macska.jpg);
   

}

.maine{

    background-image: url(main\ coon.jpg);
}

.bengali{ 
    background-image: url(bengali.jpg);
}
.cica{
    background-image: url(meg\ ez\ a\ cica.jpg);
}

.pic{
    overflow: hidden;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    font-size: 14px;

}

li{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
}

.negyedik{
    background-color: black;
    border-left: 1px solid white;
    padding: 10px;
}


h2{
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    font-size: 14px;

}

.otodik{
    background-color: black;
    border-left: 1px solid white;
    padding: 10px;
}

.hatodik{
    background-color: black;
    border-left: 1px solid white;
    padding: 10px;
}
.macska{
    text-align: center;
    border: 30px;
    padding-right: 50%;
    padding-left: 50px;
    width: 200px;
    margin: auto;
    background-color: white;
}
.erdekel{
    width: 200px;
    margin: auto;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 15px;
    border: 20px;
    border-radius: 30px;
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.tipp{

    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: auto;
    gap: 30px;
    border: 30px;
    padding-right: 50%;
    padding-left: 50px;
    }

.esemeny{
    display: grid;
    grid-template-columns: 150% 150%;
    grid-template-rows: auto;
    gap: 30px;
    padding-right: 50%;
    padding-left: 50px;
}    